

.navbar .titulo--menu{
    display:block;
    font-weight:bold;
    color:rgb(135, 135, 241);
    font-size: 2.5rem;
}

.titulo--menu span{
    color:red;
}

.lista--menu{
    font-size: 1rem;
    font-weight: bold;
}

.lista--menu a{
    color:white;
}

.navbar ul li a:hover{
    color:red !important;
}

.ref-menu{
    color:white;
    margin-left: 1.5rem;
}

.boton--restar{
    background-color: rgb(255, 187, 0);
    margin-right: 5px;
}

.boton--sumar{
    background-color: rgb(255, 187, 0);
    margin-left: 2px;
}

.buy{
    background-color: orange;
    margin-left: 2px
}
